<h1 class="bg-primary text-white p-4">ourOwnApp</h1>




<div class="container">
    <div class="row">
        <!-- <div class="col-12">
            <app-product></app-product>
        </div> -->
        <div class="col-12">
            <ul class="list-group">
                <h1 class="text-center">1</h1>
                <li class="list-group-item" *ngFor="let skill of skills">
                    
                    I Love {{skill}}  
                     
                </li>
            </ul>
            <hr>
            <table class="table table-bordered bg-info text-white">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArr; let i = index">
                          <td>{{i + 1}}</td>
                          <td>{{std.fname}}</td>
                          <td>{{std.lname}}</td>
                          <td>{{std.email}}</td>
                          <td>{{std.contact}}</td>
                    </tr>
                </tbody>
            </table>
                
            
        </div>
    </div>
</div>